In [4]:
students = 25
print (students)

25

In [5]:
students_1 = 3
students_tot = students + students_1
print (students_tot)

28

In [6]:
type (students_tot)

int

In [9]:
print ('Ci sono', students_tot, 'studenti in totale')

Ci sono 28 studenti in totale

In [5]:
name_course = 'Epicode'
print (name_course)

Epicode

In [6]:
type (name_course)

str

In [7]:
print ('Stai partecipando al corso di %s' %name_course)

Stai partecipando al corso di Epicode

In [84]:
x = 10
tot = (x * 2) *3
print (tot)

60

In [23]:
a = 20
a += 2
print (a)

22

In [64]:
y = 10
y += 2
b = y * 3
print (b)

36

In [86]:
str_1 = 'Windows'
str_2 = 'Excel'
str_3 = 'Powerpoint'
str_4 = 'Word'

lung = len(str_1)
print ( 'La parola "%s" è lunga %d caratteri' %(str_1, lung))

if 5 <= lung <= 8 :
    print ( 'La parola "%s" è compresa tra 5 e 8 caratteri' %str_1)
else:
    print ( 'La parola "%s" non è compresa tra 5 e 8 caratteri' %str_1)

La parola "Windows" è lunga 7 caratteri
La parola "Windows" è compresa tra 5 e 8 caratteri

In [ ]:
#?? Calcolare e stampare a video quanti secondi ci sono in un anno non bisestile

In [83]:
my_string = 'I am studying Python'
print (my_string)

string_upper = my_string.upper ()
print (string_upper)

string_lower = my_string.lower ()
print (string_lower)

string_repl= my_string.replace ('Python', 'a lot')
print (string_repl)

string = '  I love Epicode  '
print (string)

string_ok = string.strip ()
print (string_ok)

I am studying Python
I AM STUDYING PYTHON
i am studying python
I am studying a lot
  I love Epicode
I love Epicode